<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
      <add name="ServicesConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Документы\Учеба\СОТ\Labi\Core\Services.mdf;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="Core.Properties.Settings.ServicesConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Services.mdf;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="Core.Properties.Settings.myDataBaseConnectionString"
          connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\myDataBase.mdf;Integrated Security=True;Connect Timeout=30"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>